.nav{
  width: 15%;
  height: 100%;
  background-color: red;
  position: fixed;
  right: 0;
  bottom: 1%;
}





.nav:hover{
    animation-name: sidebaran;
    animation-duration: 4s;
}





 @keyframes sidebaran {
    0%{
        background-color: black; right:0px; top:0px;
    }
    50%{
        background-color: green; right: 20px; top:0px;
    }
}