.Nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 170px;
    background-color: var(--other_color);
    padding: 25px 20px;
    left: 85%;
}

.navLinks{
    font-size: large;
    list-style-type: none;
    margin-top: 10px;
}

.navLinks li {
    margin-bottom: 50px;
}